<div class="card">
    <div class="card-header">
      <h3 class="card-title">Listado de personas</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="searchTerm">Buscar</label>
          <input type="text" id="searchTerm" class="form-control" formControlName="searchTerm" autocomplete="off" >
        </div>
        <button class="btn btn-primary">Buscar</button>
        <!-- boton de refresh -->
        <button class="btn btn-primary" (click)="refresh()">Refresh</button>
      </form>
  
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nombre completo</th>
            <th>Cédula</th>
            <th>Fecha de nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of personas">
            <td>{{ data.id }}</td>
            <td>{{ data.nombres }}</td>
            <td>{{ data.apellidos }}</td>
            <td>{{ data.fullname }}</td>
            <td>{{ data.cedula }}</td>
            <td>{{ data.nacimiento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  